In [15]:
import pandas as pd

In [16]:
# show the missing values
def missing_values(data: pd.DataFrame):
    for col in data:
        missing_data = data[col].isna().sum()
        if missing_data > 0:
            perc = missing_data / len(data) * 100
            print(f'Feature {col} >> Missing entries: {missing_data} \
                |  Percentage: {round(perc, 2)} \
                |  Data Type: {data[col].dtypes}')

In [17]:
df_orders = pd.read_excel('../Sample - Superstore.xls', sheet_name='Operational')
df_people = pd.read_excel('../Sample - Superstore.xls', sheet_name='People')
df_returns = pd.read_excel('../Sample - Superstore.xls', sheet_name='Returns')

df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

In [18]:
missing_values(df_orders)

Feature Postal Code >> Missing entries: 11                 |  Percentage: 0.11                 |  Data Type: float64

In [27]:
missing_values(df_people)

In [28]:
missing_values(df_returns)

In [19]:
df_orders.shape

(9994, 21)

In [20]:
cols = df_orders.columns.tolist() + df_people.columns.tolist() + df_returns.columns.tolist()

In [22]:
df_orders.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [23]:
df_people.columns

Index(['Regional Manager', 'Region'], dtype='object')

In [25]:
df_returns.columns

Index(['Returned', 'Order ID'], dtype='object')

In [21]:
cols

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country/Region',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Regional Manager',
 'Region',
 'Returned',
 'Order ID']

In [26]:
df_orders[df_orders.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country/Region, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [29]:
duplicate_returns = df_returns[df_returns.duplicated()]

In [30]:
duplicate_returns

    Returned        Order ID
1        Yes  CA-2018-100762
2        Yes  CA-2018-100762
3        Yes  CA-2018-100762
6        Yes  CA-2018-102652
7        Yes  CA-2018-102652
..       ...             ...
792      Yes  US-2021-147886
793      Yes  US-2021-147886
794      Yes  US-2021-147886
795      Yes  US-2021-147886
799      Yes  US-2021-155999

[504 rows x 2 columns]

In [32]:
df_returns.shape

(800, 2)

In [31]:
df_returns.drop_duplicates().shape

(296, 2)

In [38]:
df_orders[df_orders.Sales < 0]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country/Region, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [39]:
df_orders[df_orders.Quantity < 0]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country/Region, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [40]:
df_orders[df_orders.Discount < 0]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country/Region, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [42]:
df_orders[df_orders['Order Date'] > df_orders['Ship Date']]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country/Region, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]